@import '_fretboard';
@import '_strings';

.guitar {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  display: inline-flex;

  &.lefty {
    direction: rtl;
    .nut {
      box-shadow: -4px 0px 2px -3px #333;
    }
  }

  * {
    box-sizing: border-box;
  }

  ol,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
